<div class="container-fluid container-header">
    <div class="row">
        <div class="col-6">
            <h2>Save the date ! World cup is in :</h2>
        </div>
        <div class="col-6 text-center">
            <h2 style="color: #EFD807" id="demo"></h2>
        </div>
    </div>
</div>

