<div class="container container-header">
    <div class="row">
        <h2>Save the date ! World cup is in :</h2>

        <span>
            <font face="Catamaran">
                <font color="#F59333">
                    <font size="6rem">
            <script language="JavaScript">

                TargetDate = "8/18/2018 05:49 PM";

                BackColor = false;

                ForeColor = false;

                CountActive = true;

                CountStepper = -1;

                LeadingZero = true;

                DisplayFormat = "%%D%% days &nbsp; %%H%% hours &nbsp; %%M%% minutes &nbsp;  %%S%% seconds ";

            </script>

        </span>
    </div>
</div>
