<div id="mascot" class="p-5">
    <div class="container">
        <div class="row">
            <h2>OFFICIAL MASCOTS</h2>
        </div>
        <div class="row">
            <div class="col-6">
                <img src="/images/maskot_hello.png">
            </div>
            <div class="col-6 my-auto">
                <p><span class="strong">Bhin-Bhin, Kaka & Atung,</span>
                    <br/>official Ninja Volleyball Worldcup 2018 mascots</p>
            </div>
        </div>
    </div>
</div>