<div id="partenaires" class="p-5">
    <div class="row">
        <h2>OFFICIAL PARTNERS</h2>
    </div>
    <div class="row">
        <div class="col-3"><img src="/images/partenaire1.jpg" width="300"></div>
        <div class="col-3"><img src="/images/partenaire2.jpg" width="300"></div>
        <div class="col-3"><img src="/images/partenaire3.jpg" width="300"></div>
        <div class="col-3"><img src="/images/partenaire4.png" width="300"></div>
    </div>
    <div class="row">
        <div class="col-3"><img src="/images/partenaire5.png" width="300"></div>
        <div class="col-3"><img src="/images/partenaire6.jpg" width="300"></div>
        <div class="col-3"><img src="/images/partenaire7.jpg" width="300"></div>
        <div class="col-3"><img src="/images/partenaire8.png" width="300"></div>
    </div>
</div>