<div class="container-fluid video">
    <div class="row">
        <div class="col-5 text-center">
            <iframe width="640" height="360" src="https://www.youtube.com/embed/HxzKP6vVddY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="col-7">
            <p><span class="strong">Sepak takraw</span>, or kick volleyball, is a sport native to Southeast Asia.
                <br/>Sepak takraw differs from the similar sport of Footvolley in its use of a rattan ball and only allowing players to use their feet, knee, chest and head to touch the ball.</p>
        </div>
    </div>
</div>