<footer>
    <div class="row align-items-center">
            <div class="col-4 align-center-x">
                <p>Register to receive newsletter</p>
                <form class="form-inline">
                    <div class="form-group">
                        <label for="inputPassword6">Email</label>
                        <input class="form-control mb-2" type="email" placeholder="Email"/>
                        <button class="btn">Register</button>
                    </div>
                </form>

                <div class="col-4 align-center-x">
                    <img src="/images/logo_stl.png" width="80">
                </div>

        <div class="col-4 align-center-x">
            <img src="/images/facebook.png" width="60">
            <img src="/images/instagram.png" width="60">
            <img src="/images/twitter.png" width="60">
            <img src="/images/youtube.png" width="60">
        </div>
    </div>
</footer>