<footer>
    <div class="row align-items-center">
        <div class="col-6">
            <div class="row align-center-x">
                <p>Register to receive newsletter</p>
            </div>
            <div class="row align-center-x">
                <form>
                    <input class="form-control mb-2" type="email"> <button class="btn">Register</button>
                </form>
            </div>
        </div>
        <div class="col-6 align-center-x">
            <img src="/images/facebook.png" width="60">
            <img src="/images/instagram.png" width="60">
            <img src="/images/twitter.png" width="60">
            <img src="/images/youtube.png" width="60">
        </div>
    </div>
</footer>