{% extends 'base.html.twig' %}

{% block body %}
    <h1>Games list</h1>


   <div>
       {% for game in games %}
            {{ dump(game) }}
       {% endfor %}

       <p>Nombre de teams : {{ teams|length }} </p>

        {{ dump(tournament) }}

       <p>Nombre de match à jour au premier tour : {{ games|length }} </p>
   </div>
{% endblock %}
