@import "~bootstrap/scss/bootstrap";

$bleu-marine: #202B54;
$bleu-vert: #3DBBAA;
$rose: #EC4966;
$jaune: #FED345;
$orange: #F59333;
$vert: #8DC557;
$violet: #793990;
$bleu-clair: #3393CE;
$blanc: #FFFFFF;
$gris: #DDDDDD;

$catamaran: 'Catamaran', sans-serif;
body {
  padding-top: 100px;
}

body {
  font-family: $catamaran;
  padding-top: 100px;
}

footer {
  background-color: $bleu-marine;
  text-align: center;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px 50px;
  color: $blanc;
  img {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
    &:hover {
      box-shadow: 0px 0px 10px #130E0A;
    }
  }
}

.container-navbar {
  .navbar-brand {
    color: $bleu-marine;
    font-weight: bold;
    font-size: 2rem;
  }
}

.nav-link {
  color: $bleu-marine;
  font-weight: bold;
  font-size: 1.5rem;
  &:hover {
    color: $jaune;
  }
}

table {
  @extend .table, .table-bordered;
  margin: auto;
}

.align-center-x {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#video {
  font-size: 1.5rem;
  background-color: $bleu-vert;
  border-bottom-right-radius: 200px;
  color: $blanc;
}

.strong {
  font-weight: bold;
  font-size: 1.8rem;
}

table {
  @extend .table, .table-bordered;
  margin: auto;
}

.container-header {
  background-image: url("../../web/images/header.jpg");
  background-position: center;
  background-size: cover;
}

.container-header h2 {
  color: $violet;
  font-family: $catamaran;
  font-weight: bold;
  font-size: 4rem;
}

#partenaires {
  color: $bleu-marine;
  margin-top: 80px;
  margin-bottom: 80px;
  .row {
    h2 {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
      border-left: 3px solid $orange;
      padding-left: 5px;
    }
  }
}

#mascot {
  color: $bleu-marine;
  background-color: $gris;
  .row {
    h2 {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
      border-left: 3px solid $orange;
      padding-left: 5px;
    }
  }
}

$heightTournament : 800px;
$widthGame : 350px;
$heightCell : 80px;

#tournament {
  table{
    @extend .table,.table-borderless;
  }

   td{
     vertical-align: middle;
     text-align:center;
   }

  .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
   /* align-items: center;*/
    min-height:$heightTournament;
  }
  .game {
    border:1px solid black;
    border-radius: 8px;
    margin:auto auto;
    min-width:$widthGame;


    .team{
      border:1px solid black;

      table.teamTab{
        margin:0;
        padding:0;
        tr{
          height:$heightCell;
        }
        .td{
        }
      }
      .teamName{
        border:1px solid black;
        vertical-align: middle;

      }
      .score{
        width:20%;
        border:1px solid black;
        vertical-align: middle;

      }
    }
  }

}